.plag-text-area{
  width:90%;
  height:500px;
  border:none;
  box-shadow:0px 8px 8px #b3b3b3;
  margin:5%;
  padding:2.5%;
  font-family: 'Oswald', sans-serif;
  overflow-y: auto;
  text-decoration: none;
}

.plag-text-area{
  width:90%;
  height:500px;
  border:none;
  box-shadow:0px 8px 8px #b3b3b3;
  margin:5%;
  padding:0%;
  font-family: 'Oswald', sans-serif;
  overflow-y: auto;
  text-decoration: none;
}

.upload-container{
  float:right;
  margin:0% 5% 2% 5%;
  box-shadow: 0px 0px 5px 1px #b3b3b3;
  text-align:center;
  padding:9px;
  border:0px solid #ffffff;
  border-radius:5px;
  color:#ffffff;
}


:host ::ng-deep .hilight{
  background-color:#ff8080;
  margin: 1px;
  display: inline;
  margin-right:20px;
}

.spacing{
  line-height:1.8em;
  text-decoration: none;
}
